.contenedor-buscador {
    display: flex;            
    justify-content: center;  /* Centra horizontalmente 
    margin-bottom: 20px;     /* Espacio entre el buscador y los personajes */
  }
  
  .buscador {
    width: 80%;             
    max-width: 400px;       
    padding: 10px;         
    font-size: 16px;        
    border: 1px solid #ccc; 
    border-radius: 10px;    
    margin-bottom: 20px;
  }