
@font-face {
    font-family: 'Saiyan Sans';
    src: url('../fonts/Saiyan-Sans.ttf') format('truetype'); 
}
.boton {
    position: relative; 
    background-color: red;
    color: yellow;
    font-family: 'Saiyan Sans', sans-serif; 
    font-size: 50px;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,  
        -1px 1px 0 #000,  
         1px 1px 0 #000; 
    overflow: hidden; 
    transition: transform 0.3s; 
}

.boton::before {
    content: ""; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 150%; 
    height: 150%; 
    background: radial-gradient(circle, rgba(255, 165, 0, 0.5) 30%, rgba(255, 0, 0, 0) 70%); 
    border-radius: 50%; 
    transform: translate(-50%, -50%) scale(0); 
    transition: transform 0.3s; 
    z-index: 0; 
}

.boton:hover {
    transform: scale(1.1); /* Agranda el botón ligeramente al pasar por encima */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); /* Sombra negra al pasar */
}

.boton:hover::before {
    animation: flame 0.5s forwards; /* Llama a la animación al hacer hover */
}

@keyframes flame {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1; /* Totalmente visible al inicio */
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.6; /* Un poco transparente en el medio */
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0; /* Desaparece al final */
    }
}
.boton-desactivado {
    background-color: black;
    color: yellow;
    font-family: 'Saiyan Sans', sans-serif;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    transition: transform 0.3s;
}

.boton-desactivado:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.7);
}
.contenedor-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .boton {
        font-size: 40px; 
        padding: 8px 16px; 
    }
}

/* Media query para móviles (ancho máximo de 768px) */
@media (max-width: 768px) {
    .boton {
        font-size: 30px; 
        padding: 14px ; 
    }
}